
      <nav style="margin-top:-25px;" class="sideBar hidden-phone pull-left">


<ul data-spy="affix" class="affix">


  <li><figure>


<h1>


  <a href="/">


    <img width="110" height="90" src="/images/logo.png" title="点击回到首页" />


  </a>


</h1>  </figure></li>


<hr class="krhr_nav">


  <li><figure>


  <div class="menuText">


    <a href="http://www.hmt.me/">首页</a>


  </div>


  <i class="icon-home"></i>


</figure></li>


  <li><figure>


  <div class="menuText">


    <a href="/jrrm">今日热门</a>


  </div>


  <i class="icon-flag"></i>


</figure></li>


  <li><figure>


  <div class="menuText">


    <a href="/hyyjck">行业研究参考</a>


  </div>


  <i class="icon-filter"></i>


</figure></li>


<hr class="krhr_nav">


<li><figure>


  <div class="menuText">


    <a href="/zjgd">专家观点</a><span class="new label label-important">热</span>


  </div>


</figure></li>


<hr class="krhr_nav">


  <li><figure>


  <div class="menuText">


    <a href="/yxxxs">营销新鲜事</a><span class="new label label-success">新</span>


  </div>


</figure></li>


<hr class="krhr_nav">


  <li><figure>


    <a rel="twipsy" href="http://www.mckinseyquarterly.com/home.aspx" title="麦肯锡季刊" target="_blank"><img src="/images/mkx.png" width="75" height="38"></a>


  </figure></li>


  <li><figure>


    <a rel="twipsy" class="sep10" href="http://www.bcg.com.cn/cn/newsandpublications/newsandpublications_splash.html" title="波士顿出版物" target="_blank"><img src="/images/bcg.png" width="75" height="35"></a>


 </figure></li>


</ul>


</nav>